<h1>Products Index Page</h1>

<%= form_tag home_path do %>
  <p>
    <%= label_tag :product %>
    <%= text_field_tag :product %>
  </p>

<%= submit_tag "add to cart" %>
<% end %>

<% if !(session[:cart].nil?) %>
  <p>Cart Items</p>
  <ul>
      <% session[:cart].each do |item| %>
      <li><%= item %></li>
      <% end %>
  </ul>
<% end %>
